:root{
	--custom-callout-pink: 238, 124, 158; 		/*#ee7c9e*/
	--custom-callout-purple: 183, 141, 234; 	/*#b78dea*/
	--custom-callout-blurple: 151, 152, 234; 	/*#9798ea*/
	--custom-callout-blue: 84, 168, 218; 		/*#54a8da*/
	--custom-callout-teal: 77, 177, 146; 		/*#4db192*/
	--custom-callout-green: 104, 177, 73; 		/*#68b149*/
	--custom-callout-yellow: 188, 156, 16; 		/*#*/
	--custom-callout-orange: 237, 132, 74; 		/*#ed844a*/
	--custom-callout-red: 239, 127, 121; 		/*#ef7f79*/
	--custom-callout-lightgray: 160, 160, 160; 	/*#a0a0a0*/
	--custom-callout-midgray: 120, 120, 120; 	/*#787878*/
	--custom-callout-darkgray: 90, 90, 90; 		/*#5A5A5A*/
}

.callout[data-callout="abstract"] {
	--callout-color: var(--custom-callout-blurple);
	--callout-icon: lucide-clipboard-list;
}

.callout[data-callout="attention"] {
	--callout-color:  var(--custom-callout-orange);
	--callout-icon: lucide-alert-triangle;
}

.callout[data-callout="bug"] {
	--callout-color: var(--custom-callout-red); 
	--callout-icon: lucide-bug;
}	

.callout[data-callout="caution"] {
	--callout-color: var(--custom-callout-red);
	--callout-icon: lucide-triangle-alert;
}

.callout[data-callout="error"] {
	--callout-color: var(--custom-callout-red);
	--callout-icon: lucide-shield-x;
}

.callout[data-callout="example"] {
	--callout-color: var(--custom-callout-teal); 
	--callout-icon: lucide-scan-eye;
}

.callout[data-callout="important"] {
	--callout-color: var(--custom-callout-orange); 
	--callout-icon: lucide-flame;
}

.callout[data-callout="info"] {
	--callout-color: var(--custom-callout-darkgray);
	--callout-icon: lucide-info;
}

.callout[data-callout="note"] {
	--callout-color: var(--custom-callout-lightgray); 
	--callout-icon: lucide-sticky-note;
}

.callout[data-callout="question"] {
	--callout-color: var(--custom-callout-pink); 
	--callout-icon: shield-question;
}

.callout[data-callout="quote"] {
	--callout-color: var(--custom-callout-midgray);
	--callout-icon: lucide-quote;
}

.callout[data-callout="source"] {
	--callout-color: var(--custom-callout-blue); 
	--callout-icon: link;
}

.callout[data-callout="summary"] {
	--callout-color: var(--custom-callout-purple);
	--callout-icon: lucide-subtitles;
}

.callout[data-callout="tip"] {
	--callout-color: var(--custom-callout-green);
	--callout-icon: lucide-info;
}
	
.callout[data-callout="todo"] {
	--callout-color: var(--custom-callout-orange);
	--callout-icon: lucide-list-todo;
}
	
.callout[data-callout="warning"] {
	--callout-color: var(--custom-callout-yellow); 
	--callout-icon: lucide-triangle-alert;
}
